#index-banner{
    overflow: hidden;
    width: 100%;
    max-height:500px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#index-banner video{
    opacity: 0.8;
    min-height:100%;
    max-width:100%;
}
#intro, #work, #team {
    padding: 0;
}

#logo{
    position: absolute;
    width: 50%;
    z-index: 1000;
}
@media (min-width: 480px){
    #logo{
        position: absolute;
        width: 30%;
        z-index: 1000;
    }
}


